{% if page.previous %}
<div class="previous">
  <h3>Previous Article</h3>
  <a class="truncate" href="{{ site.url }}{{ page.previous.url }}"><< {{ page.previous.link }}</a>
</div>
{% endif %}

<div class="social">
  <a href="https://twitter.com/6r0k3d">
    <span classssss="twicon"></span>
    Follow me on Twitter
  </a>
</div>

{% if page.next %}
<div class="next">
  <h3>Next Article</h3>
  <a class="truncate" href="{{ site.url }}{{ page.next.url }}">{{ page.next.link }} >></a>
</div>
{% endif %}

<a href="https://twitter.com/6r0k3d?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @6r0k3d</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
