<nav id="main_nav">
  <h1 style="font-size:30px">Guides</h1>
  {% for collection in site.collections %}
    {% if collection.label != "posts" %}
      <ul>
        <li><h3><a class="header_link" href="{{ site.url }}/{{ collection.label }}">{{ collection.link }}</a></h3></li>
        {% if collection.label == page.collection %}
          <!-- <h4><u>Table of Contents</u></h4> -->
          <h4>{{ page.link }}</h4>
          {% include toc.html html=content h_min=2 h_max=3 %}
        {% endif %}
      </ul>
    {% endif %}
  {% endfor %}
</nav>
