---
layout: default
---

<h1 style="display: inline">{{ page.title }}</h1> <p style="display: inline" class="view">by {{ page.author | default: site.author }}</p>
<small><p>{{ page.date | date: "%-d %B %Y" }}</p></small>
{% if page.edit %}
  <small><p>updated: {{ page.edit | date: "%-d %B %Y" }}</p></small>
{% endif %}

<div>
  <a class="btn" target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title }}%20-%20{{ page.description }}&url={{ site.url }}{{ page.id }}">
    <img src="/assets/images/twitter.svg">
    Tweet
  </a>
</div>

{{content}}

<div class="share">
  <a class="btn" target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title }}%20-%20{{ page.description }}&url={{ site.url }}{{ page.id }}">
    <img src="/assets/images/twitter.svg">
    Tweet
  </a>
</div>

{% include github-comments.html %}

<!--
{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}
-->
